@keyframes anim {
  0% {
    color: #000;
  }
  33% {
    color: rgb(13, 224, 183);
  }
  66% {
    color: rgb(106, 27, 154);
  }
  100% {
    color: rgb(36, 103, 217);
  }
}
footer {
  background-color: #f8f8f8;
}
#logo {
  animation-name: anim;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  font-size: 2.1em;
  font-weight: 550;
}
#firstContainer {
  padding: 2% 5%;
}
#firstContainer a {
  color: black;
  font-weight: 500;
}
#secondContainer {
  display: flex;
  padding: 2% 5%;
}

#line {
  border-top: 1px solid #999;
}

#iconContainer {
  margin-left: auto;
}
#iconContainer a {
  margin: 0% 1em;
  color: black;
  text-decoration: none;
  font-size: large;
}
@media (max-width: 550px) {
  #secondContainer {
    display: block;
  }
}
