body {
  margin: 2.5%;
  font-family: 'VremenaGroteskRegular', sans-serif;
}

#main {
  position: relative;
  margin: 50px 0;
  height: 35em;
  /* border: solid red; */
}

#output {
  position: absolute;
  top: 0;
  left: 0;
}
#video {
  /* width: 60%; */
}
