body {
  margin: 2.5%;
  font-family: 'VremenaGroteskRegular', sans-serif;
}

#main {
  position: relative;
  margin: 50px 0;
  /* border: solid red; */
  /*background-color: green;*/
  height: 30em;
}
.submain {
  /*background-color: red;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30em;
  border-style: ridge;
  border-radius: 1.5em;
  -webkit-box-shadow: 15px 15px 3px 1px rgb(0, 0, 0);
  -moz-box-shadow: 15px 15px 3px 1px rgb(6, 7, 7);
  box-shadow: 15px 15px 3px 1px rgb(17, 17, 17);
}

#output {
  position: absolute;
  top: 0;
  left: 0;
}
#video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: auto;
  height: auto;
  border-radius: 1.5em;
}
