.canvas-wrapper,
#scatter-gl-container {
  display: inline-block;
  vertical-align: top;
}
.canvas-wrapper {
  margin-right: 4%;
}
#scatter-gl-container {
  border-style: ridge;

  -webkit-box-shadow: 15px 15px 3px 1px rgb(0, 0, 0);
  -moz-box-shadow: 15px 15px 3px 1px rgb(6, 7, 7);
  box-shadow: 15px 15px 3px 1px rgb(17, 17, 17);
}

#video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  visibility: hidden;
}
#output {
  border-style: ridge;
  border-radius: 1.5em;
  -webkit-box-shadow: 15px 15px 3px 1px rgb(0, 0, 0);
  -moz-box-shadow: 15px 15px 3px 1px rgb(6, 7, 7);
  box-shadow: 15px 15px 3px 1px rgb(17, 17, 17);
}
#main {
  height: 31.5em;
  margin: 3em 0;
  /*background-color: green;*/
}
@media only screen and (max-width: 1200px) {
  #gui,
  #stats {
    display: none;
  }
  #main {
    position: relative;
    margin: 40px 0;
    left: 5%;
    height: 30em;
  }
}
@media only screen and (max-width: 850px) {
  #gui,
  #stats,
  #scatter-gl-container {
    display: none;
  }
  #main {
    position: relative;
    margin: 40px 0;
    left: 15%;
    height: 30em;
  }
}
@media only screen and (max-width: 576px) {
  #gui,
  #stats,
  #scatter-gl-container {
    display: none;
  }
  #main {
    position: relative;
    margin: 35px 0;
    left: 10%;
    height: 25em;
  }
}
