#principal {
  font-family: 'VremenaGroteskRegular', sans-serif;
  background-color: #f8f8f8;
  height: 30%;
  display: flex;
}
#global {
  width: 30%;
}
#title {
  margin: 1.5em 3.5em;
  font-weight: 700;
  font-size: 1.8em;
}
#description {
  margin: 1.5em 3em;
  background-color: #77ddf9;
  height: 100%;
  width: 40%;
  overflow: auto;
}
#description p {
  margin: 1.5em 1.5em;
  font-size: 1.1em;
  text-align: justify;
}
@keyframes animacion {
  0% {
    color: #000;
    transform: translateY(15%);
  }
  33% {
    color: rgb(13, 224, 183);
    transform: translateY(-15px);
  }
  66% {
    color: rgb(106, 27, 154);
    transform: translateY(-15px);
  }
  100% {
    color: rgb(36, 103, 217);
    transform: translateY(15px);
  }
}
#icon {
  animation: animacion 0.4s 3;
  padding-left: 6em;
  font-size: large;
}
#icon i {
  margin-right: 1em;
}
@media only screen and (max-width: 500px) {
  #principal {
    display: block;
    height: 35%;
    padding-left: 1em;
  }
}
@media only screen and (max-width: 768px) {
  #principal {
    display: block;
    height: 40%;
    padding-left: 1em;
  }
  #title {
    margin: 4em 4em;
    font-size: 1.2em;
  }
  #description p {
    font-size: 1em;
  }
}
